header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 100%;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: black; 
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

header ul li a:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
    color: #0a0a10;
}
